* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* TEXT VIEW */

.text {
  font-family: sans-serif;
}

.text-center {
  text-align: center;
}

.headline {
  font-size: 5rem;
}

.subheadline {
  font-size: 4rem;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
}

.body {
  font-size: 1rem;
  line-height: 150%;
}

.label {
  font-size: 1rem;
  line-height: 150%;
  font-weight: bold;
}

/* IMAGE VIEW */

.image {
  width: 100%;
}

/* BUTTON VIEW */

.button {
  padding: .5rem;
  font-size: 1rem;
}

/* ANCHOR VIEW */

.anchor {
  display: inline-block;
  padding: .5rem;
}

/* MARGIN */

.margin {
  margin: .5rem;
}

/* PADDING */

.padding {
  padding: .5rem;
}

.padding_one {
  padding: 1rem;
}

.horizontal_padding {
  padding-left: .5rem;
  padding-right: .5rem;
}

.vertical_padding {
  padding-left: .5rem;
  padding-right: .5rem;
}

.top_padding {
  padding-left: .5rem;
  padding-right: .5rem;
}

.bottom_padding {
  padding-bottom: .5rem;
}

.bottom_padding_one {
  padding-bottom: 1rem;
}
